<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip5" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip4" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip3" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip2" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip5>
      <setting name="ItemOrder" serializeAs="String">
        <value>toolStripComboBox1</value>
      </setting>
      <setting name="IsDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>135, 25</value>
      </setting>
      <setting name="ToolStripPanelName" serializeAs="String">
        <value>toolStripContainer1.Top</value>
      </setting>
      <setting name="Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>3, 0</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>toolStrip5</value>
      </setting>
    </System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip5>
    <System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip4>
      <setting name="ItemOrder" serializeAs="String">
        <value>newToolStripButton2,openToolStripButton2,saveToolStripButton2,printToolStripButton2,toolStripSeparator4,cutToolStripButton2,copyToolStripButton2,pasteToolStripButton2,toolStripSeparator5,helpToolStripButton2,newToolStripButton3,openToolStripButton3,saveToolStripButton3,printToolStripButton3,toolStripSeparator6,cutToolStripButton3,copyToolStripButton3,pasteToolStripButton3,toolStripSeparator7,helpToolStripButton3</value>
      </setting>
      <setting name="IsDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>404, 25</value>
      </setting>
      <setting name="ToolStripPanelName" serializeAs="String">
        <value>toolStripContainer1.Top</value>
      </setting>
      <setting name="Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>636, 100</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>toolStrip4</value>
      </setting>
    </System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip4>
    <System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip3>
      <setting name="ItemOrder" serializeAs="String">
        <value>newToolStripButton1,openToolStripButton1,saveToolStripButton1,printToolStripButton1,toolStripSeparator2,cutToolStripButton1,copyToolStripButton1,pasteToolStripButton1,toolStripSeparator3,helpToolStripButton1</value>
      </setting>
      <setting name="IsDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>208, 25</value>
      </setting>
      <setting name="ToolStripPanelName" serializeAs="String">
        <value>toolStripContainer1.Top</value>
      </setting>
      <setting name="Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>231, 50</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>toolStrip3</value>
      </setting>
    </System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip3>
    <System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip2>
      <setting name="ItemOrder" serializeAs="String">
        <value>toolStripButton1,toolStripButton2,toolStripButton3,toolStripButton4</value>
      </setting>
      <setting name="IsDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>104, 25</value>
      </setting>
      <setting name="ToolStripPanelName" serializeAs="String">
        <value>toolStripContainer1.Top</value>
      </setting>
      <setting name="Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>133, 25</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>toolStrip2</value>
      </setting>
    </System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip2>
    <System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip1>
      <setting name="ItemOrder" serializeAs="String">
        <value>newToolStripButton,openToolStripButton,saveToolStripButton,printToolStripButton,toolStripSeparator,cutToolStripButton,copyToolStripButton,pasteToolStripButton,toolStripSeparator1,helpToolStripButton</value>
      </setting>
      <setting name="IsDefault" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Size" serializeAs="String">
        <value>208, 25</value>
      </setting>
      <setting name="ToolStripPanelName" serializeAs="String">
        <value>toolStripContainer1.Top</value>
      </setting>
      <setting name="Visible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Location" serializeAs="String">
        <value>433, 75</value>
      </setting>
      <setting name="Name" serializeAs="String">
        <value>toolStrip1</value>
      </setting>
    </System.Windows.Forms.ToolStripSettings.WindowsFormsApplication3.Form1.toolStrip1>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0"/>  
    <supportedRuntime version="v2.0.50727"/>
    
  </startup>
  
</configuration>
